* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    width: 100vw;
    background-color: darkslateblue;
    text-align: center;
    color: white;
    margin-bottom: 10vh;
    font-size: 40px;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

h2 {
    text-align: center;
    margin-bottom: 5vh;
    font-size: 35px;
}

.mainContainer {
    display: flex;
    margin-bottom: 10vh;
}

.playerForm{
    width: 50vw;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playerForm form {
    width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.scoreBoard {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.scoreBoard table {
    width: 40vw;
    height: 30vh;
    border-collapse: collapse;
    text-align: center;
}

.scoreBoard table .defaultLine{
    font-weight: 600;
}

.scoreBoard table td {
    border: 2px solid black;
}

.containerLetter {
    display: flex;
    justify-content: center;
    gap: 1vw;
    margin-bottom: 10vh;
    font-size: 30px;
}

.word {
    display: flex;
    margin-bottom: 10vh;
    justify-content: center;
    align-items: center;
}

.word table {
    font-size: 30px;
}

.word td {
    width: 2vw;
}

.researchForm {
    padding-left: 35vw;
    margin-bottom: 10vh;
}

.researchForm form {
    width: 30vw;
    display: flex;
    flex-direction: column;
}

.nbShot {
    font-size: 35px;
    text-align: center;
    margin-bottom: 10vh;
}

.inputError {
    color: red;
    text-align: center;
    font-size: 25px;
}

.false {
    background-color: red;
    color: white;
}

.true {
    background-color: green;
    color: white;
}

.result {
    text-align: center;
    font-size: 35px;
    margin-bottom: 10vh;
}

.restart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.restart button {
    background-color: darkslateblue;
    color: white;
    font-size: 30px;
    padding: 2vh;
}
